*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
font-family: sans-serif;
}

body{
    margin-top: 5em;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
}

nav{
    display: flex;
    padding: 20px;
    height: 5em;
}

.logo-top{
margin-right: 30px;
margin-top: 10px;
}

.list-top{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 20px;
}

.list-right{
    justify-content: flex-end;
    flex: 1 0 auto;
}

.list-left li{
    margin-right: 50px;
    margin-top: 5px;
}

.list-right li{
    margin-left: 50px;
    margin-top: 5px;
}

.list-right button{
    background-color: #0061FF;
    padding:7px 13px;
    color: white;
    border: none;
}

/* main */
.jumbo{
    background-color: #B4D0E7;
    width: 100%;
    text-align: center;
}

.container-jumbo{
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

h1{
    font-size: 70px;
    font-weight: 800;
    padding-top: 80px;
}

.content-right img{
    height: 500px;
    position: relative;
    top: 70px;
}

.content-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-left p{
    text-align: start;
    font-size: 18px;
}

.content-left button{
    background-color: #0061FF;
    color: white;
    padding: 10px;
    margin:40px 0;
    border: none;
}

.content-left span{
    font-size: 60px;
    margin-top: 130px;
}
