*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
font-family: sans-serif;
}

body{
    margin-top: 5em;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
}

nav{
    display: flex;
    padding: 20px;
    height: 5em;
}

.logo-top{
margin-right: 30px;
margin-top: 10px;
}

.list-nav{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 20px;
}

.list-right{
    justify-content: flex-end;
    flex: 1 0 auto;
}

.list-left li{
    margin-right: 50px;
    margin-top: 5px;

}

.list-right li{
    margin-left: 50px;
    margin-top: 5px;
}

.list-right button{
    background-color: #0061FF;
    padding:7px 13px;
    color: white;
    border: none;
}

/* main */
.jumbo{
    background-color: #B4D0E7;
    width: 100%;
    text-align: center;
}

.container-jumbo{
    display: flex;
    max-width: 1200px;
    margin: auto;
    margin-bottom: -75px;
}

h1{
    font-size: 70px;
    font-weight: 800;
    padding-top: 80px;
    text-align: start;
    max-width: 1200px;
    margin: auto;
}

.content-right img{
    height: 500px;
    position: relative;
    top: 120px;
    /* margin-bottom: -75px; */
     box-shadow: 0px 0px 0px black;
}

.content-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-left p{
    text-align: start;
    font-size: 18px;
    margin-top: 75px;
    /* position: relative;
    top: 50px; */
}

.content-left button{
    background-color: #0061FF;
    color: white;
    padding: 10px;
    margin:40px 0;
    border: none;
}

#arrow{
    font-size: 60px;
    margin-top: 130px;
    color: black;
}


/* plan */
.container-plan{
    max-width: 1200px;
    margin: 170px auto;

}

.container-plan span{
    margin-right: 40px;
}

.container-plan h2, .container-business h2{
    font-size: 40px;
    margin-bottom: 40px;
}

.plan-top{
    gap: 2em;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card{
    border: 2px solid lightgray;
    flex: 0 0 calc(100% / 3 - 2em );
}

.card-content{
    padding: 50px;
    text-align: start;
}

.plan-user{
    display: inline-block;
    width: 100%;
    border: 1px solid lightgray;
    text-align: center;
    padding: 20px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.plan-price{
    font-weight: 600;
}

.plan-period{
    color: lightgray;
    display: flex ;
    justify-content: flex-start;
}

.list-card{
    list-style-type: none;
}

.card{
    text-align: center;
}

.list-card li{
    padding: 10px;
    text-align: start;
}

.list-top{
    margin-bottom: 20px;
}

.card-bottom{
    flex: 1 0 100%;
}

.button-plan{
    background-color: #0061FF;
    margin: 10px;
    color: white;
    border: none;
    padding:10px 45px;
}

.bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.check-blue{
    color: #0061FF;
}

.prezzo{
    font-weight: 600;
}

.buy-now{
text-align: start;
}

.hr-plan{
    width: 50px;
    margin:40px 20px
}


/* container foto e testo piccolo */
.container-partner{
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.img-partner img{
   width: 700px;
}

.text-partner p{
font-size: 25px;
margin: 30px 0;
}

.text-partner{
    padding: 50px;
}

.button-partner button{
    font-size: 20px;
    padding: 15px;
}


/* business card */
.container-business{
    margin:170px auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.business-card{
    flex: 0 0 calc( 100% / 3 );
    padding: 25px;
}

.business-img img{
    width: 100%;
}

.business-card p{
    font-size: 20px;
    margin-top: 35px;
}


/* dati utilizzatori */
.dati-utilizzatori{
    margin: auto;
    max-width: 1200px;
}

.dati-utilizzatori h2{
font-size: 35px;
}

.dati-utilizzatori a{
    display: inline-block;
    margin-top: 100px;
}
/* affiliati */
.container-affiliates{
    display: flex;
    margin-top: 200px;
}

.affiliates-left ,.affiliates-right{
    display: flex;
    flex-wrap: wrap;
    width: calc( 100% / 3);
}

.affiliate-card{
    width: calc( 100% / 2 );
    aspect-ratio: 1/1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.affiliate-card img{
width: 40%;
height: calc( 100% / 2 );
filter: invert(1);
}

.affiliates-center{
    width: calc( 100% / 3 );
    height: 100%;
    padding: 60px;
}

.hr-affiliates{
    width: 150px;
    position: relative;
    right: 20px;
}

.affiliates-center span{
    display: inline-block;
    margin-top: 70px;
}

/* colori e dimensioni card singole */
.designit{
    background-color:#A2D39B;
}

.ari-uni{
    background-color:#61082B ;
}

.flori-uni{
    background-color: #0093CE;
}

.flori-uni img{
    height: auto;
}

.topps{
    background-color:#FF1C1C ;
}

.bicycle{
    background-color:#FC2425 ;
}

.hearst{
    background-color: #B4D0E7;
}

.lonely{
    background-color:#0D2481 ;
}

.clear{
    background-color:#FFD830 ;
}

/* free trial */
.container-trial{
    background-color:  #B4D0E7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 100%;
}

.trial-left{
    color: #61082B;
    font-size: 25px;
    text-align: start;
    width: 500px;
}

.trial-right button{
    padding: 10px;
    border: none;
    font-size: 20px;
    color: black;
}

/* faq */
.container-faq{
  height: 500px;
}

.faq-content{
    margin: auto;
    max-width: 1200px;
    text-align: start;
}

.faq-content h2{
    margin-top: 100px;
    padding: 20px;
    font-size: 30px;
}

.faq-row{
    display: flex;
    justify-content: space-between;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    padding: 30px;
    font-weight: 600;
}

/* footer */

footer{
    background-color: black;
    color: white;
}

.footer-container{
    margin: auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-list{
    margin-top: 50px;
}

.footer-list li{
    list-style: none;
    padding: 7px;
}

.footer-list li h5{
    font-size: 20px;
    padding: 5px;
}

/* selezione lingua */

.container-selettore{
    display: flex;
    flex-direction: column;
}

.hr-lingua{
    color: white;
    width: 100px;
    margin-left:160px ;
    margin-top: 40px;
}

.container-lingua{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.lingua{
    color: gray;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 1200px;
}